recipes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="time" type="xs:nonNegativeInteger"/>
<xs:element name="unit" type="xs:string"/>
<xs:element name="amount" type="xs:string"/>
<xs:element type="xs:string" name="description"/>
<xs:element type="xs:string" name="title"/>
<xs:element 	name="GRAPHIC">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute  name="url" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>


  <xs:element name="cookbook">
    <xs:annotation>
      <xs:documentation>Sample XML file generated by XMLSpy v2021 rel. 3 (x64) (http://www.altova.com)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
       <xs:element ref="description"/>
        <xs:element name="recipe" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="title"/>
              <xs:element ref="GRAPHIC"/>
		          <xs:element  name="course" type="xs:string"/>
			 
			 <xs:element name="cuisine" >
				<xs:complexType>
				<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
							<xs:enumeration value="American"/>
							<xs:enumeration value="Mexican" />
							<xs:enumeration value="French" />
							<xs:enumeration value="Italian" />
					</xs:restriction>
				</xs:simpleType>
				</xs:attribute>
				</xs:complexType>
			</xs:element>
			  
			  
			  
             <xs:element name="ingredients">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ingredient" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element  name="name" 		type="xs:string"/>
                          <xs:element  name="amount" 	type="xs:string"/>
                          <xs:element  ref="unit"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  
			  
              <xs:element name="preparation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="step" maxOccurs="unbounded" minOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  
              <xs:element name="nutrition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element  name="protein"> 
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="amount"/><xs:element ref="unit"/>
                         </xs:sequence>
                      </xs:complexType>
                    </xs:element>
					           <xs:element  name="carbohydrates">
					             <xs:complexType>
					               <xs:sequence>
					                 <xs:element ref="amount"/><xs:element ref="unit"/>
					               </xs:sequence>
					             </xs:complexType>
					           </xs:element> 
                    
                    <xs:element  name="fat">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="amount"/><xs:element ref="unit"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element> 
                    
                    <xs:element  name="calories" type="xs:nonNegativeInteger"/>
                               
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  
			  		  
            <xs:element name="preptime">
					<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:element ref="unit"/>
					</xs:sequence>
					</xs:complexType> 
				</xs:element>
				
			<xs:element name="cooktime">
					<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:element ref="unit"/>
					</xs:sequence>
					</xs:complexType> 
				</xs:element>	
			
			<xs:element name="totaltime">
					<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:element ref="unit"/>
					</xs:sequence>
					</xs:complexType> 
				</xs:element>			
              
            <xs:element  name="comment"   type="xs:string"/>
			              
            

          </xs:sequence>
          <xs:attribute name="recipeid" type="xs:string" /> 
      </xs:complexType>
        </xs:element>
      </xs:sequence>
    
    </xs:complexType>
  </xs:element>
</xs:schema>